<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{errorMessage}}</h1>
        </div>
        {{>footer}}
    </body>
</html>

