<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Tim Grover</p>
            <img src="/img/Tim-Grover.jpg" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>